body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    margin: 0px;
}

.qr-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.qr-card{
    width: 270px;
    height: 450px;
    background-color: white;
    border-radius: 15px;
    padding:15px;
}


.qr-image{
    height: 270px;
    width: 270px;
    border-radius: 10px;
}

.qr-title{
    font-weight: 700;
    font-size: 21px;
    text-align: center;
}

.qr-description{
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    color: hsl(212, 9%, 65%);
}